.App { 
  display: flex;
  justify-content: center;
}

.Forms {
  width: 50%;
  position: relative;
  top: 200px;
}

.email-cont {
  margin-bottom: 20px;
}

.Formss {
  width: 50%;
  position: relative;
  top: 200px;
}

.Formm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
